page-home {
    // Litt forandringer og med bruk av globale variabler fra theme/variables.scss
    .bg-style {
        background: map-get($colors, bookColor);
    }

    .item-style {
        background: map-get($colors, itemColor);
        border: 2px solid map-get($colors, bookColor);
        border-radius: 10px;
    }

    .thumbnail-style {
        border: 1px solid black;
    }
}
