<ion-header>
  <ion-navbar color="itemColor">
    <ion-title>
      Marked
    </ion-title>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-buttons end>
      <button ion-button (click)="goToAddPostPage()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button (click)="logout()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bg-style" padding>
  <ion-list>
    <ion-item class="item-style" *ngFor="let post of posts | async">
      <ion-thumbnail class="thumbnail-style" item-start>
          <img src="{{post.imgUrl}}">
      </ion-thumbnail>
      <h2>{{post.title}}</h2>
      <p> {{post.body}}</p>
      <p *ngIf="post.price != null"> {{post.price}} Kr</p> 
     <!-- <p *ngIf="post.price >= 0"> {{post.price}} Kr</p> -->
      <button ion-button clear item-end (click)="goToDetailPage(post)">Les annonse</button>
    </ion-item>
  </ion-list>
</ion-content>

<!--
<ion-content>
    <ion-list class="image-view" no-lines>
      <img [src]="post.imgUrl" *ngFor="let post of posts | async" (click)="goToDetailPage(post)" />
    </ion-list>
</ion-content>

-->