<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="itemColor">
    <ion-title>{{post.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-style" padding>
  <ion-card>
      <ion-item>
        <h2>{{post.title}}</h2>
        <p>Av: {{post.author}}</p>
      </ion-item>
    
      <img [src]="post.imgUrl">
    
      <ion-card-content>
        <p>{{post.body}}</p>
        <p *ngIf="post.price != null">Pris: {{post.price}} kr</p> <!-- Bare vis hvis det har variablen har innhold, og ikke når det er null. (Legge til støtte for når det er 0, tomt og lignende. Sjekker bare null akkurat nå) -->
      </ion-card-content>
    
      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="call"></ion-icon>
            <div>Ring</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small [disabled]="!isenabled">
            <ion-icon name="chatbubbles"></ion-icon>
            <div>Melding</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <!-- Viser data om det finnes, hvis det er null og ingenting der så bruker den Område: Ukjent -->
          <ion-note *ngIf="post.placeAddress != null">
            Område: {{post.placeAddress}}
          </ion-note>
          <!-- Har dette her bare for å vise mulighetene, kunne fjernet hele som price, men ville legge dette til
          for å vise at det er mulig å vise noe annet, samt greit for bruker å vite om området er lagt til eller ikke. -->
          <ion-note *ngIf="post.placeAddress == null">
            Område: Ukjent
          </ion-note>
        </ion-col>
      </ion-row>
    </ion-card>

    <!-- Kommentarfet for å vise subcollections - TODO: Konverter dette til noe mer brukbart, kanskje notification for poster og lignende -->
    <ion-card>
        <ion-list>
            <ion-item>
                <h2>Kommentarer: </h2>
              </ion-item>
            <ion-item *ngFor="let comment of comments | async">
             {{comment.comment}} 
            </ion-item>
          </ion-list>  
          <ion-item>
              <ion-input placeholder="Skriv kommentar.." [(ngModel)]="commentText"></ion-input> 
          </ion-item>
          <ion-item>
              <button ion-button (click)="addComment()">Post kommentar</button>
          </ion-item>
    </ion-card>
</ion-content>
