<!--
  Generated template for the AddPostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Legg ut annonse</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-label fixed>Tittel</ion-label>
      <ion-input placeholder="Tittel" [(ngModel)]="postTitle"></ion-input>
    </ion-row>
    <ion-row>
      <ion-label fixed>Beskrivelse</ion-label>
      <!-- TextArea 5 rader, med maks 500 bokstaver. Bruker Area så brukeren vet at et er meant for lenger tekster / beskrivelse hvis de vil -->
      <ion-textarea rows="5" maxLength="500" placeholder="Skriv om bøkene" [(ngModel)]="postBody"></ion-textarea>
    </ion-row>
    <ion-row>
        <!-- type som number så tastaturet kommer opp med nummerpanelet, men det registreres som string i tilfelle du vil legge til som "kan diskuteres eller noe lignende" -->
        <ion-label fixed>Pris</ion-label>
        <ion-input type="number" placeholder="kr" [(ngModel)]="postPrice"></ion-input>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button (click)="executeCamera()">Ta bilde</button>
      </ion-col>
      <ion-col>
        <button ion-button (click)="findGeolocation()">Område</button>
      </ion-col>
      <ion-col>
        <button ion-button (click)="addPost()">Post annonsen</button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <img style="height: 300px" [src]="'data:image/jpeg;base64,' + previewImage" />
    </ion-row>
    <ion-row>
      <p>
        Hentet Område: 
      </p>
    </ion-row>
    <!-- Kaller på loading spinner så lenge loading er satt i koden, når den blir dismissed så viser den fram data (fra koden skjer dette bare etter den har fått inn noe data) -->
    <ion-row>
      <div *ngIf="loading">
        <ion-spinner></ion-spinner>
      </div>
      <div *ngIf="!loading">
        {{placeAddress}}
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
